<div class="autocomplete" ng-show="suggestionList.visible"> 
  <div class="suggestion-list-header">
    <div class="suggestion-list-pager">
      <a
        title="First page of results"
        ng-disabled="suggestionList.disableFirst()"
        ng-click="suggestionList.firstPage()">&laquo;</a>
      <a
        title="Previous page of results"
        ng-disabled="suggestionList.disablePrevious()"
        ng-click="suggestionList.previousPage()">&lsaquo;</a>
      <a
        title="Next page of results"
        ng-disabled="suggestionList.disableNext()"
        ng-click="suggestionList.nextPage()">&rsaquo;</a>
      <a
        title="Last page of results"
        ng-disabled="suggestionList.disableLast()"
        ng-click="suggestionList.lastPage()">&raquo;</a>
    </div>
    <p
      class="suggestion-list-header-inner"
      ng-bind="suggestionList.headerText()">
    </p>
  </div>
  <ul class="suggestion-list">
    <li class="suggestion-item"
      ng-attr-title="{{getTitleText(item)}}"
      ng-repeat="item in suggestionList.items track by track(item)"
      ng-class="{selected: item == suggestionList.selected}"
      ng-click="addSuggestionByIndex($index)"
      ng-mouseenter="suggestionList.select($index)"
      ng-bind-html="getDisplayText(item)"></li>
  </ul>
</div>
