<div class="autocomplete" ng-show="suggestionList.visible"> 
  <div class="suggestion-list-header">
    <p
      class="suggestion-list-header-inner"
      ng-bind="suggestionList.headerText()"></p>
  </div>
  <ul class="suggestion-list">
    <li class="suggestion-item"
      ng-attr-title="{{getTitleText(item)}}"
      ng-repeat="item in suggestionList.items track by track(item)"
      ng-class="{selected: item == suggestionList.selected}"
      ng-click="addSuggestionByIndex($index)"
      ng-mouseenter="suggestionList.select($index)"
      ng-bind-html="getDisplayText(item)"></li>
  </ul>
</div>
